/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--text-color: #424242;
}

body{
    font-family: 'PT sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--text-color);
}

.debug{
    border: 1px solid black;
}

/* Utility*/

.even-section{
    background-color: var(--color-primary-color);
}

.small-border-rounded{
    border-radius: 10px;
}

.big-border-rounded{
    border-radius: 20px;
}

.circle{
    border-radius: 50%;
}

.bg-light{
    background-color: var(--color-light-color);
}

.bg-card{
    background-color: var(--color-bg-card);
}

.bg-primary{
    background-color: var(--color-primary-color);
}

.px-10{
    padding-left: 10px;
    padding-right: 10px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-20{
    padding-left: 20px;
    padding-right: 20px;
}

.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Text */

.text-primary{
    color: var(--color-primary-color);
}

 .text-secondary{
    color: var(--color-secondary-color);
 }

 .text-light{
    color: var(--color-light-color) ;
 }

 .text-center{
    text-align: center;
 }

 .line-height{
    line-height: 1.5;
 }


/* Buttons */

.btn{
    padding: 7px 15px;
    text-decoration: none;
    display: inline-block;
    color: var(--color-light-color);
    background-color: var(--color-primary-color);
    border-radius: 15px;
}

.btn-secondary{
    background-color: var(--color-secondary-color);
}



/* Header */

header{
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
}


/* Footer */

footer{
    background-color: var(--color-dark-color);
    color: var(--color-light-color);
}