/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--text-color: #424242;
}

body{
    font-family: 'PT sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--text-color);
}

.debug{
    border: 1px solid black;
}

/* Utility*/

.even-section{
    background-color: var(--color-primary-color);
}



/* Header */

header{
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
}


/* Footer */

footer{
    background-color: var(--color-dark-color);
    color: var(--color-light-color);
}